[user]
    name = Paul Geisthardt
    email = paul.geisthardt@sinc.de
    signingkey = 91DE296B5C3703B0

[core]
    editor = nvim
    whitespace = error
    compression = 9
    preloadindex = true
    autocrlf = true
    fsmonitor = true

[init]
    defaulBranch = "main"

[commit]
    gpgSign = true

[push]
    autoSetupRemote = true

[log]
    abbrevCommit = true  # short commits
    graphColors = blue,yellow,cyan,magenta,green,red

[status]
    branch = true
    short = true
    showStash = true
    showUntrackedFiles = all  # show individual untracked files

[pager]
    branch = false  # no need to use pager for git branch
    tag = false
    ; diff = delta

[color.decorate]
    HEAD = red
    branch = blue
    tag = yellow
    remoteBranch = magenta

[url "git@github.com:"]
    insteadOf = "gh:"

[url "git@github.com:Steinebeisser"]
    insteadOf = "ghS:"

[url "https://github.com"]
    insteadOf = "hgh"

[gpg]
    program = C:/Users/Geisthardt/scoop/apps/gpg/current/bin/gpg.exe


[alias]
    stash-search = "!f() { git show $(git stash list | cut -d\":\" -f 1) | grep \"$@\" ; }; f"
    stashgrep = "!f() { for i in `git stash list --format=\"%gd\"` ; \
              do git stash show -p $i | grep -H --label=\"$i\" \"$@\" ; done ; }; f"

[rerere]
    enabled = true

[merge]
    conflictStyle = zdiff3
[credential "https://tfs.sinc.de"]
	provider = generic
